body {
	background-color:lightblue ;
	background-size: 300px 300px;
	margin: 10px 10px 10px 10px:
}

h1{
	color:blue;
	text-shadow: 2px 2px black;
}

table {
	border-collapse: collapse;
}

th, td{
	padding: 8px;
}

tr:hover{background-color:#f5f5f5}

textarea{
	width: 80%;
}

input[type=text],select{
	width: 20%;
	margin: 8px 0;
	padding: 10px 18px;
	border-radius: 10px;
	border: 3px solid #ccc;
	display: inline-block;
	-webkit-transition: 1s;
	transition: 1s;
	outline: none;
}

input[type=text]:focus{
	border: 3px solid black;
}

input[type=submit] {
	width: 15%;
	margin: 8px 0;
	padding: 12px 20px;
	border:none;
	border-radius: 10px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	-webkit-transition: 1s;
	transition: 1s;
}

input[type=submit]:hover{
	background-color: #2d6930;
}

