{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


<html>
	<script src = "/static/angular.min.js"></script>
	<head>
		<title>RST Slide Creator</title>
	</head>
	<body>

		<div ng-app="">
		<p>Name : <input type="text" ng-model="name" placeholder="Enter name"></p>
		<h1>Hello <span ng-bind="name"></span></h1>
		</div>




		<center>
		<marquee><h1>RST Slide Creator</h1></marquee>
		
		<form action="/newslide/">
			<br>Write your own RST Slide
			<input type="submit" value="New Slide">
		</form>
		<hr>
		<form method="POST" action="/rst2html5/" enctype="multipart/form-data"> <!-- testing -->
			{% csrf_token %}
			<br>Or load from local file
			<input type="text" name="slide_name" id="id_new_name" placeholder="Enter new slide's name" required />
			<br>Select RST file to convert:
			<select name="rstfile">
				{% for file in filelist %}
					<option value={{ file }}>{{ file }}</option>
				{% endfor %}
			</select><br>
			Select your slide's style
			<select name="slidestyle">
				<option value="clean">Clean</option>
				<option value="deck">Deck</option>
				<option value="reveal">Reveal</option>

				<option value="bootstrap">Bootstrap</option>
				<option value="pygments">Pygments</option>
			</select><br>
			<input type="submit" value="Convert to HTML5">
		</form>
		<hr><br>
		</center>
		Sort by : ....
		<center>
		<table border="1" id="id_list_slide" width="80%">
			<tr>
			<td><center>Slide Name</center></td>
			<td><center>Date Created</center></td>
			<td><center>View Count</center></td>
			</tr>
			{% for slide in slides %}
				
				<tr>
				<td><center><a href="/detail/{{ slide.slide_name }}" target="_blank">{{ slide }}</a></center></td>
				<td><center>{{ slide.pub_date }}</center></td>
				<td><center>{{ slide.view_count }}</center></td>
				</tr>
			{% endfor %}
		</table>
		<div ng-app="myApp" ng-controller="tableSort"> 

		<table border="1">
		<tr ng-repeat="x in names ">
		<td>{{ x }}</td>
		<td>test</td>
		</tr>
		</table>

		<div ng-app="myApp" ng-init="jsslide={{slides}}"> 

		<table border="1">
		<tr ng-repeat="x in {{jsslide}} ">
		<td>{{ x }}</td>
		<td>test</td>
		</tr>
		</table>

		</div>

		<script>
		var django_context = {};
		django_context.slide = {{ slide }};
		</script>

		<script>
		var app = angular.module('myApp', []);
		app.controller('tableSort', function($scope) {
		    $scope.names = django_context.slide;
		});
		</script>

		</center>

		
	</body>
	


</html>










