{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
	<head>
		<title>RST Slide Creator</title>
		<style>
			/* The Modal (background) */
			.modal {
			    display: none; /* Hidden by default */
			    position: fixed; /* Stay in place */
			    z-index: 1; /* Sit on top */
			    padding-top: 100px; /* Location of the box */
			    left: 0;
			    top: 0;
			    width: 100%; /* Full width */
			    height: 100%; /* Full height */
			    overflow: auto; /* Enable scroll if needed */
			    background-color: rgb(0,0,0); /* Fallback color */
			    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
			    background-color: #fefefe;
			    margin: auto;
			    padding: 20px;
			    border: 1px solid #888;
			    width: 80%;
			}

			/* The Close Button */
			.close {
			    color: #aaaaaa;
			    float: right;
			    font-size: 28px;
			    font-weight: bold;
			}

			.close:hover,
			.close:focus {
			    color: #000;
			    text-decoration: none;
			    cursor: pointer;
			}
		</style>
	</head>
	<body>
		<center>
		<h1>RST Slide Creator</h1>
		<br>

		<form method="POST" action="/text2rst/"> <!-- target="preview_iframe" -->
			{% csrf_token %}
			<input type="text" name="slide_name" id="id_new_name" placeholder="Enter new slide's name" required /><br>
			Textarea 's color  
			<select name="textcolor" id="textcolor" onclick="changestyle()">
				<option value="black" selected="selected">Black</option>
				<option value="red">Red</option>
				<option value="green">Green</option>
				<option value="blue">Blue</option>
				<option value="lightblue">Lightblue</option>
			</select>
			Textarea 's fontsize  
			<select name="textsize" id="textsize" onclick="changestyle()">
				<option value="12" selected="selected">12</option>
				<option value="14">14</option>
				<option value="16">16</option>
				<option value="18">18</option>
				<option value="20">20</option>
				<option value="24">24</option>
				<option value="28">28</option>
			</select><br>
			<textarea name="text" id="textarea" rows="15" cols="50" width="50%">
Hello World !
=============

* A2

Write your RST text here.
=========================

.. image:: {% static 'pictures/spongebob.jpg' %}</textarea><br>
			
			Select your slide's style
			<select name="slidestyle">
				<option value="clean">Clean</option>
				<option value="deck">Deck</option>
				<option value="reveal">Reveal</option>

				<option value="bootstrap">Bootstrap</option>
				<option value="pygments">Pygments</option>
			</select><br>
			<br>
			<input type="submit" value="Submit !"><br>
		</form>

		<form method="POST" action="" target="dummy" enctype="multipart/form-data">
		{% csrf_token %}
			<input type="file" name="image" id="image"/>
			<input type="submit" name="submit" value="Upload !" onclick="insertPict()"/>
		</form>

		
		<iframe src="" width="0" height="0" id="dummy" name="dummy"></iframe>
		<iframe src="" width="80%" height="400px" id="preview_iframe" name="preview_iframe"></iframe>


		</center>
		<script>
		function changestyle(){
			var color,size;
			color = document.getElementById("textcolor").value;
			size = document.getElementById("textsize").value;
			document.getElementById("textarea").style.color = color;
			document.getElementById("textarea").style.fontSize = size;
		}
		function insertPict(){

			image = document.getElementById("image").value;
			document.getElementById("textarea").innerHTML += "\n.. image:: {% static 'pictures/' %}";
			document.getElementById("textarea").innerHTML += image;

		}
		/*function getSelectionText() {
			var text = "";
		
			text = window.getSelection().toString();
		
			//return text;
			window.alert(text);
		}*/
		</script>
		
		<!-- ####################### Test Modal ############################# -->

		<!-- Trigger/Open The Modal -->
		<button id="myBtn">Open Modal</button>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
		  <div class="modal-content">
		    <span class="close">×</span>
		    <p>Some text in the Modal... xyz</p>

		  </div>

		</div>


		<script>
		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		    modal.style.display = "block";
		    //window.location.assign("http://localhost:8000/detail/testtest")
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		    modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
			modal.style.display = "none";
		    }
		}
		</script>
	</body>


	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<body ng-app="myApp">

		<div ng-include="'http://www.refsnesdata.no/angular_include.asp'"></div>

		<script>
		var app = angular.module('myApp', [])

		app.config(function($sceDelegateProvider) {
		  $sceDelegateProvider.resourceUrlWhitelist([
		    'http://localhost:8000/detail/testtest'
		  ]);
		});
//'http://www.refsnesdata.no/**'
		</script>

</body>
</html>


















